body {
  display: flex;
  height: 100vh;
  width: 100vw;
  margin: 0;
  cursor: url("https://img.icons8.com/ios/50/000000/x.png") 10 10, auto;
}

.none {
  display: none;
}
.center2 {
  max-height: 100%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
}
.toppink-column {
  height: 100%;
  width: 25%;
  background-image: url("https://fsb.zobj.net/crop.php?r=09K9aLd7Gdiw6A2NV7roPBC9Ue7lK6fK3SVxREOQeyBweZbajWmwK-9t0RYMCh5s2bTyVm91pkAf0RsrdQ8KmDzSmy3JeQvkHmTHvLFTuPwNi3WSpjMVb-zNngqIRAMctvHsN6JTwEyfrVFYBd83PCQw1wCttvTS7XVhOczviyopDQOmmf6n6MtvECI");
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  display: flex;
}
.bottompink-column {
  height: 100%;
  width: 25%;
  background-image: url("data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBxMTEhUTExMVFhUXGBgYGBcYGBcYHRoeHRsXGBgbHRcYHSggGB0lHRgYITEhJSkrLi4uGx8zODMtNygtLisBCgoKDg0OGhAQGy0lICYtLS0tLS0tLS0tLS0tLS0tLS0tLTAtLy0tLy0tLS8tLS8tLS0tLS0tLS0tLS0tLS4tLf/AABEIASwAqAMBIgACEQEDEQH/xAAcAAABBAMBAAAAAAAAAAAAAAAFAwQGBwABAgj/xABEEAACAQIEAwUEBwcDAgYDAAABAhEAAwQSITEFQVEGEyJhcQcygZEUQlKhscHwIzNicoLh8ZKy0UOiFSRjg5PSFjRT/8QAGgEAAwEBAQEAAAAAAAAAAAAAAQIDBAAFBv/EADERAAICAQMCAwcEAgMBAAAAAAABAhEDEiExBFETQWEFInGBkaGxMsHR8BThM1LxFf/aAAwDAQACEQMRAD8Ao+sititxXUcaArYruwssBE6/5opgOGB3uIdyhNs8iZUjU/I+tLKSjuy2HBPK0oL0M4TYDWb0CXIhdJ0XxkDzMChTjc8uvr/g0b4QptgzKuG8wQQfuMg/KpEbFi5avAKqtcyuybDOuYZrfQEOWK8iNJBgTlPRbZ6GPon1MIKHKVP6tr77EHwNlWdVdsqsYzclnQE+QO/lNaxeGa2723EMhKkeY0+VTPsZwOwzXUuy1xlZEAHuqywbmukyco6fGueI8FXF3mIcJcZwM7zlA7tozHlrbAzfxUPGjroT/wCZm8B5K3T/AJ/ghOWnuCEAmiXHOy1/CibiggDxR9WTAPQqeTCROhg6VzwThJu3FVvCjHJn6MyMV9YyyR09RVJSWmzFHDNzUK3YzsLmYGlsfIA5RS9jBMhytoykgjzEgj51zjFzRz1NKt2BMGrtSwSaWw9ldjOk/OlGsgUfMrXug1xSJFEWtTTNrRmmIsTrAs0uqCK0gjXejRyG7LyroHSK3cGtJk0aFMK1lbFZXANEaV2uHcgEKSDzAn8KyymYgTE0VwLNZJRyUMyrcm6eRFCUq4L9PhWR+9su/r/fgP8AgOHs3bQw7oLV9XLC8c0nMAFVwdlBEfGaSCNbbI05lYyOYPPY+IR0+E1IMRjTiMMrPrdse8dJa2YDGecHK3pmoPdshjrvET5VmU029XD+x7sekcIR8N+8vlae6b9fL5eg+sXrN0A3ROkC6vvLHIj64HQ60niJt3ArQPsMp8LDSGB57/AyOVA0LWbsH3W/wDTnizSgOsq0Dyn9Cio17jdxf2D41rx0tOSHK79/tuiR9nsetnFh2MKylZHx/OK54jh8ly4sgq0wRrKkyp+YBnqKB4xCxtxoc4G/zo1i7TNYYhoe14kPWfeX08qySVaVfJ6+PJbyy02l5d09/rz/AKH2C4kchtXBnVQWUHXQCXtGd0dQVI5SD9UUUFuxbywRksFlQDYqTOczuzKFJaeZHlURTEwguRsCSD5bj8adcPuyDuZgx8AFB8vDJ+XOqY56YyUvh8yHUdNDJ1EJ4vPf4ry/YW4lwhnxDlNc9g4nXlozFJ5Q/h+VRZLhf41JsTxu4LFxAT3lwd1IEkqC7Hz3uMD/ACigjYFrEK++USBrBOoWdiYiY2JjlWrFPUtz5vr+k/x5beu/4/n4CdmzAP68q6yAg5uu9OcPbn0I/WlKWeDXrjZVQkfIfPpVmYtQHueHTrTctIj76K8R4Zcte+sdDMihTrSoF2IXtKyax6TzECOVUQtm2aknatRWjXAs1W61WV1HHa1I+EcUfLAuMuWBr7p/4+NRxad2LgBI5MCD5efqN6nPGpqmael6mWCdrjzRIsbiSWUwqsZEqAuYxIJUeGYBEgCdKj7cScNIgD7PIeQ6Urgr590/Vhh8CM33T8qQx9kK8xKNqPPrB5GkhBJ0zd1PUSyY1kxuknx2v9r/ACEUy31U/Zbbp5Utjh4SP4k/3Cl+A8FLPZNpiyXmKawCrqA0MJ08JJ84ovj+DOMVZwxAzuxY67ABm1+Q+YqM7UklwejgUcmCU5tKWyfnd7J/cGJYOdTO06eZ/RqQWbRW3PI6Ty61JezPYfvYN45AZMDcdJ5Ujdwgu5hbE4ayPE0Tnk5VA+1nbYDcAfbEY8mOcqbPWXV9PgcoQdu9+3bn5Ff4my3chIhrjQB/MZ/207TMJVTGpJYfcB5xGvKpnjexzALcchGzEZWiVOQuzHkCLYYgfkRTbjvZG/YwpuMo11IBkgFSSD59ao1Lt/WQx5+nTbUuEkvWk/y737VXIO4PhLfguOoOVnDDYkEWjaTXYFlf5miL9mjeus7ldZPh5abDTYU64b2aukrcIPdhrR0kTm98z/Cjb+Z6VJbNkJCKc0Egn7QByzHoKp089nfJ8/7cyvxUoP3Le3qBOB9m7ahtddtf1pRD/wAPCxEadOlE7mF7ssokZiNfhNc3gMkafrcVaUmzy4K0RbjuCt3AVbUR+Emqkxy5XKjkYmrk4lhg207tIk9KqLi2GKu3SYFNhbvcaUFF7DAiTXEAmu+7OtJGZrUTNtHxpJ0rCOddW0kVxzEaylMlZXAow0Y4DwvEYhow9g3iNTlUNER9Y6DcaHrVydiuxWGwBv4l3XFJ3ad2xtidWcQiEkEv+zCnnOmhqdYfApZD38gUi2ItoFhFUFmRYgEliSTpML0FT1lFCuTyleR7F4rcQq9tiHRhBHIiKK2r9sroMyxqh3A6ilvaNivpGMbFLl7u/rbK8wkW5OmhOWfQigvC7Qe4AWKxz58hQlFTWrg09NnnhnoSu/7/AG9mSbAcR7m/h3Q+EXASNIYqrBD6wxHxNK2eOluIXLznxdzlUn7Xdqp/A0pc7I3blqbBztIZVkAnTXL5+RqLYq2wvHMCrj3gQVIPmDqOtLjwua59Dbn6xY5JqO+pP0pKq/csjivbG9cW4qMUDZiQNCFyhcoPKYYz50/4dxr6PasLl93vMQwPN4ItBh0QFDH8PkKrxOIKnvDTJB0mdPOiOBbE4y4tuxbL3GUqAPOMxJ2VRGrH0pf8PJe7L5PaPSyj+n5fz9aJxwftAMRkW5BfEXbm/MuFsFo8rZn0DVLeOcVTGE4e0ymZQazqQQzFfsoCCZ5kLvQDhfsmxQRWfGWrdwLkULba4EUgz4y6+IzvGkmN6ieD4d9Fxt3DXLn7n99ckwZClRB5Q05TO5JmNX8GKUnd+i+x50cyyTikq9e227LZ4zih3KWLDhQJR3AByqtstA6NEN5D1plYlSJPhH+KHWON217lIARXLR4QMptuh0GxY3AIO+vSiuDxSLaXvFYEKM3ONORnX/FQjF27Rl6/F4bir7/M77o3VnUn8tqSu2gFloAH+ZqP8Y7TpaUlD4gJCzv0H96ifF+1d2/KwFkagGeeuv651aONsjHZbEiuccsrmfMGUEiBv8CKgHGL1u8XcAqSQR+ZjlQ7DqzuRMa11xK3lgDc7/rpVYYknY3DA2KaDB1ps+8janOKIJNNmNOxTlWpxhxoaRS0TTx0ygUUchrd0rK5diaygzj1N3Pe4zEWWMIgwVwDlKXblwactbaD4UexVovbdRoWVlB9QRTTDYArir97lct2UHqhuk/7xRIioI0NnlRuG3rqNh0svcu22ZlS2C7JlGW+DGpHhTYbgDnQrh+HK3JYEFTBUiDM6yNxFeq+B8HtWTedLaq9267s0AM0sSJO5GpgedQP234S2Fw97RLhZ0LwJZcuaCecEaTMSetG9qGjvkTYn2ItEqCeWtTm72ewuKA+kYe1dI0BZRmHo3vD51R/Y3tquEuqGZ7lg6MCZa2ftKTqw6r8R0PofhF23ctLctsro4DKymQR1BoRtFepyxkRS57JOFEz9HePs99ej/fP31K+FcIsYZMmHspaXogAn1O5+NPiKZcW4raw1o3bzZVHxJPJVUasx6Cncm+WYR3bNUR7XsK+H4gbrJ+yxBtnONZhcjJE6nwk8tG86nnCuPLjsRrizZdZNnD23Q6/avEH9qxH/T0UAmCTDB17Q+AjG2MPbu+AriEJYHZcr96VPTJJHQgdKbFk0ysMotPcp57z/sr+It3Vwly4FW6w9/LJ3HPwkLsBqRNTfjdqxi7Sthb4Rh9VySPmPEPjNOuN8Hu47DXMNlNnD51XDCBFvuhcS3P8zKJ5iY5VRtvGXrLFCSpUlWHQgkEfOaXHlhKbS5/kbK5SrXuSTH4C7YeLwMk+FgQyt6N+Rg+VcWrfvO0jQQY3nn5Uy4fxtwTLlgfqscwPw2o/i+IW7yqbaZTABQHT+kHb9R56K22ES7ArCYfQkSI2Yx0ptxK8ZhhJH4daKvc8KyNN9o+EcjoaZ4m0XMZdDprQDQHdByiaY3bfUQZFSnhvDELqDPi0jz6eVN+1OEFp8uQqBtOkz+P964D2I/Z0I10mnmIcEfrpTG5yj1/tSps6CP1zoo5CF5zEVqsvrWUkuQHsgVlYpqJ9ou0o78Ye02qmbhHXYJ89THQedQNMIOUqRIuK8UtYay9+6wW2gLE/kOpO0V537Zdq7uPxNu6yqtoFltKx0QSAS0AknSTA1jyAqae0niz4vu8HhQb3dEXsQF20IhQfrEa+Hn8DFcYfDq110XKygZ8qgNprmAUeYGnKaVsvjxb7uie8J4Nds5e8wtvEWbq+8oW9aZecOpBU85IH3U67Icb/APDr7IjF8FcfxWySz4dzqd9dtT9pdfeBzIdieJYd3a1eEWCAUOQnxKJbMomAZMafV86lnaDs7hlsMyIgm2WV8sGIzDWJjQaGhjkm2hZyWV1afyJ5fvwheCwAkAc/Sq4w+JXEYt72KBxF2zIt4W2UKWuYDNcZUL7aEzsSBoFkHsvxT3eGYc3SSyhrcnchGKrPnlAo9a4Ph1MrYsqd5FtBruToKdoyp0RbG8Rx5tq2GwVmzddgEW4C5AmMzlMippJiWO0gV32pxly0lqy797iHS5lyoPfbKitlGhAVroA+tt1IkXCcYbl3EIdrVxVX07tCT5+POPhUK9oPaRMJZxGLtMv0st9GsyQSgGjMEOkg9423TlNK0+AN7nPGu0pw9zAYB2DYm7fD39QcilmIBI0zEkf6T1FVD7U8GLfFMSAIDFbkebIpY/FpNI9hGe9xXCl2Z3a8HZmJJJEsSSdSdKnXbDs7bxPFrl2/m7lRbQW7er33CglFC6gCYJ35DWYy5JrD1Sk/+j/OwyTlH5ld9mOyeLxzEYa3KjRrjHLbXnBbmdtBJ8qsjhfsoS2B3+O8XS0g0PMZnJn/AEip/wAO7OX7lpEdhhLKgZbFgLmA6FoKqTzgE+YNF8P2Vwa72Ec/auzePzuliPhQlLrMu8WoL13f8IKWOPO5C8P7PMExJOIxTExu1j5gC0NaZ8W9lTgFsNfDg65bgytvOjDQ/IVOsf2XslWOHUYa9qVe0Agzcs6DwXB5MDUewPa7I3c4lhauKNWM902sTmOlsyPdJ9CalPP1fSrVP316LdfLt9R1BT/TsVQ3DL9i8UvWnDLJymdR1BGkH7QoZ2r4ndcJacCBBBiSdBuZ1NX7xC3bxCFGI2lWGpUnYqeY2kbGq27UcFl8rIDcXw6b+URyMzNa/Z/tHF1aaW0lyhMuJxKu7ppmBEc9v80o1sgCPx32qTcX7NPaGcxsNOen5+VRlbTb16dERndFapfEkfdWUjW5xeOP7ZPcRkXGG3m0zJhSCPQtdJH49CDrUXvcCxNk2zadbi3CALkMpBYEw6EkgnkZIJ0kEgEfhMbaj9lhbDgc+6e983Ysfvqf4fiGHxVk2LZ7i6AsASMhBDKe6flmUHwgbb6V58cjfP4o+nz9LjxJPGvjU1L67L7EN4LhLiXGVbhSGBu3NCzEaHLOhI18h86IcWt8PZguEwzHElmZbit43YyWzhjBViYJMBZ0jSnnaW8rWbNvDwb1xYCSBlAnMWO+hB1O+p50J4Uy4VWJk3XyhmglmM6BQJO5EKOvWl16XVmh4sfUwUtNUvgo+vr3/Irh+y93DXbd1w9tzezrmCsh8efLKMQGjTUidYFT7tjx5O4JkSyhI/ibSPXeh3D+xuLxFom/dFgsNFI7xxzzNDAK06xLRptEUT4t2LuvZZFFi4+6vL2SGAgEGH+WxkiqRvseDleDHL3Hb7pMW9lSEYHK24vXRz8jz9Z+NTC2wI0IOpGmuo3HrVe9kbGKwGGNjEIUuXLzO18ftLSLlQZsw5+EwGAAO/nLMNjc6KuFyC3kBW85zAryZEUhnB+0So561UwN3uMhebDLiLhUyc0SDDXHuuLSjrJdRp5V589peMtnFLZtBYsLldwAC9xjmuMxA8RmJ881WD7Qu3q4YLYs3GvNZzAG40sbniAZiPeVAT/VlEmGijxcLMWYkkySSZJJ1JJ5mmW7sM5WSP2eX3XHWzaUvfh1sqPtspXMeQCqWaTp4a9I9kOyyYUd4x7zEOPFcOsDfIk7LOpO7HU8gIV7HexX0a2cTeX9tdhQI1tpElfJmbRv5Y61aVzF210LoPVlH51KoylrArocVyRWKwIkEEdRrWTVAGRVXdrLa/TrogQqKfjcJJ/2D5mrRmoWnDO+xt12iHYEc/Ciqo+/N/qrjV00tMnJ8DTA9lnXCi7hYS+QX7s6W3mSun/Tcg++N58QOkbw19cRat3zC3R+yuAgghgSYy8iIeR/xU9tLFVx2zxAwOLNzRbWKGcnWBdQFG8gWDW9OZznrWaXTLxo5YL3r39UK8mvVGXxXoRztzqoESwM+W0Hf51VzpcBYRHlPz1qy+KYlLyMS8EAGSOe8eQiq9xxHebkg7befMV7LjsZkqBT4ckTBrKIYlyAAF1/Csqbig0SfA8a4liGH0a3ibnSCQPyAFPMbxPilhQcbhLjWgZJuKLgXnmzLqhEe9Ig86vPh2At2UFu0gRF2A/HzPmafZOuoNeasa/rZ6uX2nmk96rtpjX4/c888LxFm27XbU5HUMC7ZioG6A7nxQZOpkSTFTb2V4VMRdfGXV8YAOHQqQBbJZTeE6MzMrLI2A/iqB9tuydzC4m/YtnwXbi/R0HJbp202AfwDyWr74fwW3Zt2LaADuECIwGsQAw8w0SR1AO4FLHHUnJjdX1erDDHBUmrf14/voE1FdimoxYD5G0nVDybTX4jp016w5qyPJZgoHxbsxZvLd7sthrl337tghGY8iwjK5/iIzDkRRyK0KJx5Z7f+zrGcOJuP+2w+gF9Z05KHU6odgNxtryon7OezCW1PEscsWbRHdWyJNy5ML4ecGAF5nyGvpS4isCrAFSCCCJBB0IIO4qu+2fZq9aQXcKLly1bECygBe2OfdTMggmdC+wBjQQ6qGTJDTB0ny/OvT49/IfDGLmlJ0AMBxe/iXNsqyqzu2R7jW1GZixkIMznX68bCAKMYXgd5Xy21wyr0AIHpokfdUSPEYUXHwLsJEuXa4Y8tWI/CpLwrj2HxLd2ueyw8MLcZT6EE5NuRFdjqKo9ySS/4UuPR/7DN13ssDesZAYHe2zA/wDktwVH80CidvtC1vV5uW+cD9ovnA0uD0giNjyFYy/ct+Fn8BAAubZTsA67AH7Y06gc2q2jhggdQ1osF87ZJ8OXbwEkLH1SRGh0rqozPDCcblz6bEwXjFt1mcqmAG5nN7oEbkyIjrRDCYVbYgCoR2YxNn6aLepUI72QdkaYuAD7RDaTsO8AgaVPRrTRdnn58bxy0vY0aintFwRu2FAXMVYHl5jn6/dUov3Qgk1Du1nai2gFseJjmPkAsDX+ph8j0q+JPUmJCLe5XXaHgr2bfvZsw2G86fOoQbJIk6FetS/inEzdYltTyjkNY9aFcUtrIOu0bf2rc42hWgIba75p9a3WsWhGkHbnW6k7QD1aK2DTThWLF6yl5PddQwHMSNiORGxFPba15wXsRPt9wtGFjFtA+i3bdy4TP7oOrPt9kqG9M1EeGdq8JiNLd+0x6K6sR6gGR8qN3UDKVYAqQQQdiDoQfKvPnbvsmcHdNrLnsvLWS3i8IiV15rIE9IPOg/QMXq2L7xFhLqZTqDzBggjYgjVSNwaHnHPh4XEGU2F8CB/7gGls/wAXun+GctULwfiWLw5mxiLqifdzZ1HlkeQPhFTzhXtPvKIxFpbq7FrfgP8AoYlW/wBQrlJN0U8GaV0WpYvqwkEGlSKr/h/aDh9yPo+J+iOT+7uDKhPQK0L8LbRUk+l4tAP2K3l+1adZI6lbhWPQE0xKUaYbIrYqNX+0jIYexiV9MPfubfxWkYffSN/tK0EixifjZa1PxvZBXWco2OOO9jrOIJZWa0xMtkgqx6lCInzEE86i+M9mdy4wzXbQja6A4cf0TH/dHlUowPGrhEujAc1YpI/0Mwp6/HbQUmYjcEH9H4ULTHWtcMaYfsyAgW5fuPAgwqKG0gyMpP30oOy+H7vupulAuSDduHTlrM8hrSfZvtEuJNy2RluIZy/aQk5Wjl0I5aHmKOCikgvJkv8AUwL/APjSC9bvLcfNbYsAwUjVXQiQA2znnRO9xDu/3gyjk+6H+r6p9Y8iacRWFdCDqDoQdjRQkpOTuTsi3HOJwpOpJOVVG7N0H3knkASdBVccftAXCGcMY8ZOgluQ8gIgeZO5NWpxTg5VZsW1aJyofqnqpP1f4Ry26VVONwZzxc0aSWJ5tuZHLWdK14KbNEssdFIDX0CqZO5j4DSmN+5JgawRTzE3A95VJGUQIGv+a1fwy25jnrrWlMz8gjjMnbWNdOX9q1Tp8QSdIGh+NZXSVu0wNFxezjiLFrtgzlMXrU8lf3l/1Gf6qnQBqJcB4T3Ywzg+O2iBv4lZArfI5W/pqZEV5R03ucotC+03AbWMsG1c0O6PElG5MPzHMSKfY1yqFhyKn4AjN900qTXCpu7PN3arh93A3BZvqQZlXHuXB1U8/TcdNiXHBh3vhChgef3fCr84vwq1ibZt3ra3FPJgCPv29aobt7we7wq6rWG/8vc0XOcxVhqUJ3MjYmdAaVKnsaVmbqwpe4BYIylQTG4YjX4GinD7Nyws4a/dtbeANmXTlkYFfkJ86hdjtBeQKTaVgdYVyN9T9Q/OaM4XtHePuYVYj61xj6D3B+NV1KitJu6LB4X2qxCg97kuaiMvgJ9AxMn405Tt/hC5sXw1ltRF5cqtrBAc+A6/xa1VuK4zjDAS1aEdQx5GT7woJie0N6AmKQXVEwQCp18pg/dtS0TyRh2PQNjguFuLNvMF+yly4oHoqtA+FObHBbKaBSZj3nd9tveY1R3ZXi17Ds1zB3Ge0CC1o6BR9YQxET00HPQ60e4/7W79swlgAx9cFI6byW+Eb70GqJaXyuCecR7IJ3gxGGY2L67MNVI5gqeR5jn6gEEcHxRwAMRaNt5g5TmU/wASnmp+fUA6VVfCfbRiBAxGEVx1tsVPl4XBB+Yqa8N9ovD8WO7e41h20C3Vgg+T6oT8T50K7CkztXQ2qkH0NKGowjXbIBKm6nK9YGcf1WhLKf5cw8xtRfCcVtuIFxJ6ZhPxB1FMdXmh8DUM7edjBjFNy03d4gCATOV+gaNjp7w+IPKYg1y1FSado6jzpguGXbN0pdtMtwe8p3G+u+oMaEGDypbiTLOoOunTpO/zq8+L8HtYhYdfEAQrjRl9D08jpVMdsuy+Jwj57n7SwT++XQLtAdfqeuo8+VbMeZPZh4RFsTidR0E/ieVZSPFLGUyp0P8AiPOsppT3EPRmAxHeYHD30OjWbTaeaDT50S7P8Q76yGmSCVPqP7RVcex7jXecLfDsfFhrhTf6jHOv35x8KPdhOIj6TesknxjvFHKV8La+YKGP4Wrz63Gq42Ti8sqw6gj5imPCsUblpXJkksNfJmX8qIGo12Qxgdblsf8ATu3R8712PwoNixJJbNVt7bcMr4IJHiNwZdJ1CuRVkIarf2ucSACW+gZj8QQPzooaEbZAuzXDu8CMx0IBiOo019IqbYHh9pRlkBt9YMCdNNxXfDeDLas2gRqEE8uQG1K3rKllZAJGnn0n1in0Gzy2EBw8kgMqjUnT7qAcR7PZ7k8hqB151JVu3C2WM0AanoZ5U3xd9lYgQZDctdRpFcmLVrcrDj1p7V7OjBY2y9J2Mb68q7tcZN8omWTsVgEGOa9eXp8jRy/2cdxmkuWJJ3O2h0+cD1qLcW4abLroVn3YJERGoPKkbE0yXwJg3D1yj9kCQMxI1jltA9KiWK4OxcZQYMkcz1pde2161NghbogAtOVgZJjMAQ2/MTPOpFhMQ6BQ1kzMSpUiYnnB5nlRhGQjeN+dArDccxmDINq66wZZW1HSDrPLrU74N7VbNzwYtAj6e+AUPkHj/dHxqLcUvq48VthJ3gH1ETQLivC8wJW0x1jlHpvvTuDCtL4aL04fisK/7ljYbeLZAUz/AOmZQ+sT50fw+aPEyt0KiNPMSda8x8NfF2PdW6bQ1yjUj+WNvSRVk9n+3o0VSTGhzE5h/MCBHypNLKLFGS93ktUimHHOIpYtF3GafCqaS7HZROnUknQAEnam3Du0lq7z1/OoF2n4/wDSMQxUzbSbdvoYPjf+phA/hVTzNc9uS3SdFPPlWP6/AaY7geAyNfxCkMzE93aOVEkyAskafKeQGw3QW3iTduBlHgUnKPtEaFvSdB6E8xGV3it8Htx9k4mrSVev/qGXZPHfRMey6raxahI0hXkZQfRs6fEGrHvEYQWcS0fsyGaJOh8NwabnI7R51VnF7CYjMQMp0jLMacyPz3H3URPba6ln6LjrbBwsLdiQ4Gni84gZhPmBVsuJxdnyWHMmqZ6HsX1uItxCCrKGUjmCJB+VUp2S7TjC8YxNq80Wnu37c8lY3WZCT01j41LvY72jXEYZsNmBbDmF13tNqhH8pzJ6KvWoZ7TOz3dcRbEDS3d7tpHK5AUiOWaJB6z5TBruMvQuPEcQULoaqXtKHu4pCQD3jZYiZUbg/wBIPxNOU7SwiLuNoP3V1wZyb3e3YCiVQswAUTLGTGrQDHSPOlW7NigoId43G338G3oIrrDK4HiPOKZ4jtlgLLsxvIRt4M1z/YDQjiHtQwAMIl9x1CKB/wBzA9OVVj3D4sVsSu2+pGx015RuKF8QlrmjRm0B5f3qMt7SsFr+yxGo2y29fjn23oRi/aUCZTD6gQCz7f0qv51zYryY+5PsTcFi3OaQus89jPw3qqu1nafvrk2tABAbbf3j6nb4UN4z2nxOJGR3AT7CDKvx5t8SaF4XCvcbKilm6D9aUCGXPeyCnZfDq19WuGEBBY+msDqTsBzJFWRiu8UBmgTmaAdiSWb4yTG1NOy3ZcYdEuXSrOdQBsn/ANmjny6czJLyKRt6n4eW9bMcaRln+nYCXRmhdjBk7EToYkH1preKlTBPhMaTGkfOl7Vos7SYGmu/w/vSa4EMYBG2g5g6UeWNjQ6wA8A1EnRuu9MeJ8LUObmbYDxCRHlmEGuRbazcYA6MDBEnXSJnYz+NaxCOySzdNNOZofE1+XqZb4jdtpcCGSAxBOh28tDyMfeaDvxMqpRTEwg8p0kegmiuDU76QNPX9CgvE8CrlioyncAHSRyjlpU82FyScTVg6uWK9+dgmceLaAW9xCIs/Aa9OvpWVERfdXE7iY232/5rKwaHE9V+0ll5bVbLTRKOHN+03gTTfjmAu4i7kVZFtZA6yJJ9Tt8KStNkuSdNSY/Kj9jjCd4jAgTCdNTomvqY+NerJ2fG42iJ9k+OPw/E2sTbJ0JDr9pD7ykfD5gHlV19qOI2sQqXdGWAYPMb/nNU32y4ebF4wsKxzL6GQR8D+Ioh2Z4gDa7q9cyqBCkxlI6TyOwjc1izKpbHpdMlTHGLxK2yXY5wpOxiYMACCegqOcX7QF8paHYHY+6voKLYvDd4VRSe7BJZupOwGm0bn9Bc8NQDRVgeQis0siier0/s3N1MW09K9SC4i+znMxk/rkNqSqX3MCsT3af6RTa3w8T7q/IU6zJmbJ7JyRdXZGQKUt4djpFSLE4Qj3RpSK4YyOvlTayX+A4umwWuChoYz6f81JeyGDZryrb0mZ8x0PUbUlhOFlroBGsFvwH4sKtfsvwFcJae84AYrMHTXkPKTFUg7jZm6jC8eRwoC5nDZWXMwYj01iOhGnSiT28up5jbTSZ+6ucOoVyXhifExAjU6kwfOk8RiS0zEkRqZIHrWiDsz1HSB++yl5JIJmNSRrHyrrCw7eEMpjc6axHPzpMP7wBERGXyFEcRdzqgVQoUeI8m1FPuNiYGxTvOXQETBPTcx8hWOxKRPqTRHGYEZesevKY0oa7qEZecj8KfY000DsS/SAN6TwwlSTO36/KksX7xEHf/AJpriLhCwWIjSOutcpEmxV7K5pIWJ5gH7qyht3ESNNfOspWovyBqrgK3MKWb8aZ8WwrLbQQfGTDcvBoY9CR5VP8Asn2cXEO5uOQivGRdC0gNq24Go2g6b1z7SuCFsXYt21hFw4yAbfvDIH/b91SclwYIJ/qYSwvZteKcNRif2xQlW6XFlWB/hzDX4VXmC4eQzIylbiHK6n6rAww/v0irG9mF+7hbz4e5ItXSCs/VaAN+jbesHrR32i9ki3/nMOha4Fy3kXd1HuuoHvOu0blepUAwzK0e17Pyxx5Vr4f2K78KLDCGETz9AK3cOVQMhhjqa1wq2C2ZiIMEE855g/nRXiDoyaEQIn56VkUU1Z9mptIC3eHsw0Ayz1+fwpSz2eYiSQBRzABAmklQNPu0pRbwM69TFPHFESTu7AF/haoMu7R99CrWEOeeVHLt2WmfKt4Ph7Yi6LNrfQu/K2vrtmOyj47A0dN8GXO8eNa5cIIdhuFZ3uXmHhWFE84JP4kz/KtOeL9oQ+LbDgwlq2GZp0LkgAHpAI+LEcqztZxdOG4ZbdiO8bwoPICC5HMDT1JHnUC7C35xsOC5uoy5d8xJVjm6CAWJPTrWpRUVXY+T6nLLLkcpeZN7OPZoJGg56QeXLy8qa3sVOaTtMRABH1QTFE+McKdEa4h8K/VM89NCOWo3+dRXE225QSTy5HUx+NVj3RnnGtjtlysXnYRl+H+aetxCbYWNSTOp8I218qT4ERLtdGoHlFDOK43uyyr1+c61VvYXHSC1/iKTA2Ezv8qG2LSuzeUcutBvpDecnlr9/wAqeJjCkQTESdfzPKlTvk067N92TcedSYjlOhNB+LW9DOmX79T/AGohiMWdSN9/hTPFkMM2/l+v1vVGlWwktwNbat1q8AK3UrJljdn+1KYfEMGOjZWnoZYfhFTntNfV7NrGJq+HOYxrmtNHej4Qr/0VVPHewONX9oBn5aeVGPZ32iaxc+i4lSAdMr+sHfdfuqDaZLHClTLd4OtnFIt63lkgHl6g1JcOxiDyqs+zuJOCxBsT+yPitb62yYA9VJy/I86syy8gEbVzNDWxDe1vYFL5N3DFbdwyWRv3bncmB+7YncgQdZBJmq9xXCnw2f6UjWT9XN7p15XAcrekztV6XrwBGh9a6Rww6g8qjLEm7N/Te082COl7rs/2ZRWGxi21AMFtweUetNhig7FLYZ3P1bYZ2+SgmNvnV2XezWCYhmweGJ6mxaJ+ZWiFm0qCEVVXooAHyFDw33Nsvbja92G/x/0VPwLsBibrZsQTh7X2QVN1vhqqdZMnyG9SrHjD4HDnKAlpOQ1LHTmdXdjzOpo7xniSWUZ7jQo+ZPQDmTtFUvx/idzHXmklLSMfCDp/L/NpqeW3poxYzy8/VZMrub+XkQztJxF8Vee++gOi66BR7o8wAT6yTzqw/Z/2WaxaGIuLF28BlBGqJoQI5FtCekAcqV7G9ke/uDE3UHcox7tSP3jDTMR9lSNOrDoutoDBzGm0VzdMzpb2yK9tb/dYMCNXdR8pc/7fvqvreKHvSI31G8T99WD7R+HNdQ5D/wDrWxdZeouFl+5bbGqja9mUS23Iafn5VTE7iyeTdhT6RmEiBB1Hw50I4lenxbE+Xzp1bGWddTEHYfrSKZG13h1Gh103+E063VE1adje/cGZYM76z51s3ZBP4fGsuYbI0KZGnI1xevBAep/xSSdM0w3Qk88j+vKmmIusunKkcRjDtOtIB8x11rnPYRsy5rqaytlRWUoD03w7Ek2ULAajXn5VF+0vZlMVlyuLWs6IpMzv5HzqU4hFCyogRtTJEzEAaHzqdWOlyRXtVwfEWcIrWna5cw5zrIkssQ69TpDRrqo6Ci/s/wC3bYiyFKjMN/7VIsbh20iNBUEwHZu9hcaXthfo95zCgxkbeCTtmJaPluQDz2KJFm2+Jlhqop1g8UdoihKXV90DxAU6wF59jE0aC4odtxBgYigfabtzZwgKuZu5ZCD00k8qK31k6bzVO9ueEW0xDXLrgzLENvHrQVCuPYBca7d38Xcl9QDChfCBO8TsTtO9GuxWGv4u4QbeWwkBiDB6i2pGxjc/VB6kQA7L8MtYi73dpguZiSx/6acyevIAcyekkXjwTC4azbW1ZyhVGkGfMknmxMknzptVLYVRb3Y/sYhlUKtoBVEKFMAACAAI0Fau8fs2hmvOLY10O/8AelsZxO3atF2IAAknl/evO/bXtEcXiS8xbXwIvx1J8yd/QDlSBbLk4F2pt4r6U+Um3cbKoMD9mFyCf5jnb0aKpa7hjautbuAqVMEHnz+M71NOwlyLF1idgJ9ACYmgfbkhxaxA3bwkDnElT6jUfLpRhLTJoScLjYLxeLEeE8vwFcYfFhtuXOKFYay7a8qe2tGCg+sU7n5mZdh3ir6zO9AuJXdZmaIY9ojz1oBeuSaVuy8boRvEb1zZbWsYa1oULAdu9ZSZrKFhPWGOtRbjzoUxiNOW9LXcezk/oVpLDXNBVEqLKNLcL4a5mtTziKF4vBu1plVQ06QYg/OiuDwPdxJnr/iijqFE0JbgToqzE3b+FvI1y7KaZlgswGvP620dfU1M+FcRS8wykQRKsOfoedCuIcI7+8c5IB2gfrWm13s9dwpL2G8DMM5P1dIVvIbA/A6AVFWi2xNr1jKN6h/aTsamOYFnKnUTofOm97H4lQq4gGdt9DqANt+dNOIcZuoGGYKqgxB1mJqgulpG7Hssw+Hgi+xY6GY1otb7K27ClhiHXy0ioPe7Y3AyyC0ecR1qPdrO3V2+vdW2IEmWB5EEQDz3326Vwlqh7234811jYt32dFMMwAAnbKsbnq3LYakxEGwILKoPQ1vBLMDkB+tK7Vf2kD0qiiqM8rssvCcNTD4G1b7w95iHLQInIpifjl/GmvtD4YtrAW7gYnxrpHUEflSHC8RnvKzHRVCifsgQAPl95NFvaXYnh1ogSM6Fj0HiAMepWs75srdxdFU2rrHwg/286cByCD1jWkojb00rnEtAHlXOTZnSFeIXYjXahDanSsv3y1J22inst5HBEHWuS1bdqTBoMCMzVuuYrKBx6ewdnQtRThN0kkERroaD4PE8oolgb2RtToatZpasL4u/m8I96KcI0oAd9jSK2lJzffW71wKJO1K2TFMLaQE6Cd6zFGVYeUEHboaTwzq3jXf8q7xCSGg8tKAfMpbtLxRka5YzhcpJtzJ8IO09Rynl6VC341ErJuN/N4R/Ud/QCrt4l2As4sN3mmYHXoSNx6HWvOGKsvYuPZceK2zIR5gkGPKkto7JLgJX8W9wAMdPsgafHrSF40naM6+VauMTpS6gUPMPcIiPOiOBsd407dflQrCLqAaknDrIVOmsnlVIz8gab3YQweLAJB+qIWOe2h++rK4vhBe4UqmAXsCCeRiRv0P4VVEgvmXUT8Z9Kufs3Yz8OshuSEEejER8qMqo7FR5ww18yQ2hG/lGhFc4jESMtEu2VtbGNvou2cn56n7yajzPSRaolW5oGum3pImtTXWMbY1quCa3NEWzCaytVlA49QYqx3egIJ3NIPic0Ab1C+M8Ru96TnOwonwG8zuoJ33+6hKVHorE0rbLC4Vix3YDHxU3x99nPdICSOfLYfKiyYVVtCByGvOu8NbCjQR1866m+TNF72MuF8NdN23Go3p1ctMdANjv1p2K2DVKpHOTbGl5bpIVQAOZ0+6qH9uHY8YW7bxVsfs7xKv5XBJn+pZ/0mvQbb1EPa3hVucJxWcTkVbi+TKywfvI9CaDQkt1R5is362LxmmymlGOtToXU6DWDeSNYNSC7iJVFWN9ZA/RqH2G/GjnDDJ9D/zSVvZR5mo0HMBb8enUaVavYDiAbDXrbb23n4OP+Q1VbhXg/rpUm9mF9jcxwJ0CWPvNyaa7dE8KuRVXbDEB8diWGo71gJ8jl/Kg8044mZvXT/6j/wC401milSBJ7s3WVoHUU5+kj/8AmnyP/NMLY1rJp8cTH1EOxEg/811ecAHwJueR8/PyrgA+sp09wQwyKPONa3XHH//Z");
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  display: flex;
}
.purple-column {
  height: 100%;
  width: 50%;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTd-30gNAxMgyQoYcroxFowLR_who_5PEH76g&usqp=CAU");
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
}

.kclass {
  max-height: 50%;
  max-width: 50%;
  position: absolute;
  bottom: 0;
  right: 0;
}

.row1 {
  display: flex;
  height: 50%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.box {
  display: flex;
  height: 100%;
  width: calc(100% / 4);
}

.center {
  max-width: 100%;
  max-height: 100%;
  margin: 0;
}

.shake:hover {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

.slideUp {
  animation-name: slideUp;
  -webkit-animation-name: slideUp;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  visibility: visible !important;
}
@keyframes slideUp {
  0% {
    transform: translateY(100%);
  }
  50% {
    transform: translateY(-8%);
  }
  65% {
    transform: translateY(4%);
  }
  80% {
    transform: translateY(-4%);
  }
  95% {
    transform: translateY(2%);
  }
  100% {
    transform: translateY(0%);
  }
}
@-webkit-keyframes slideUp {
  0% {
    -webkit-transform: translateY(100%);
  }
  50% {
    -webkit-transform: translateY(-8%);
  }
  65% {
    -webkit-transform: translateY(4%);
  }
  80% {
    -webkit-transform: translateY(-4%);
  }
  95% {
    -webkit-transform: translateY(2%);
  }
  100% {
    -webkit-transform: translateY(0%);
  }
}
body,
html {
  padding: 0;
  margin: 0;
}
canvas {
  width: 100vw;
  height: 100vh;
}
